<table class="perfecture-table table table-bordered table-hover">
  <thead class="perfecture">
    <tr>
      <th class="active table-active">新規投稿</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to 'プランを投稿', new_plan_path, class:"ec-genre-list-item text-dark" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'スポットを投稿', new_spot_path, class:"ec-genre-list-item text-dark" %>
      </td>
    </tr>
  </tbody>
</table>
<table class="perfecture-table table table-bordered table-hover">
  <thead class="perfecture">
    <tr>
      <th class="active table-active">都道府県別プラン</th>
    </tr>
  </thead>
  <tbody>
    <% perfectures.each do |perfecture| %>
    <tr>
      <td>
        <%= link_to perfecture.name, perfecture_path(perfecture.id), class:"ec-genre-list-item text-dark"%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>