<div class="container">
  <div class="mx-auto">
    <div>
      <p id="notice" class="text-center"><%= notice %></p>
    </div>
  </div>
</div>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'user/plans/perfecture', perfectures: @search_perfecture%>
    </div>
    <div class='col-md-10 '>
      <div class="text-center">
       <div class="plans">
          <div>
            <span>検索結果</span>
            <%= render 'user/plans/index', plans: @search_plans %>
          </div>
       </div>
       </div>
    </div>
    </div>
  </div>
</div>