<% if plan.favorited_by?(current_user) %>
<div>
  <%= link_to plan_favorites_path(plan), method: :delete, remote: true do %>
   <p class="favorite">★：<%= plan.favorites.count %></p>
   <% end %>
</div>
   <% else %>
<div>
   <%= link_to plan_favorites_path(plan), method: :post, remote: true do %>
   <p class="favorite">☆：<%= plan.favorites.count %></p>
</div>
   <% end %>
  <% end %>