<div class='col-lg-10 col-xs-10'>
  <div class="row">
    <% perfecture.spots.each do |spot| %>
      <div class='col-lg-3 col-xs-10'>
        <%= link_to spot_path(spot.id) do %>
          <%= image_tag spot.images[0], size: '200x150' %><br>
        <% end %>
          <%= spot.perfecture.name %>:<%= spot.address %>
      </div>
    <% end %>
  </div>
</div>
