<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-lg-2 col-xs-10'>
      <%= render "user/plans/perfecture", perfectures: @perfectures %>
    </div>
       <%= render 'user/perfectures/index', perfecture: @perfecture %>
  </div>
</div>