<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 '>
      <h2>検索結果</h2>
      <!--検索対象モデルがUserの時 -->
      <% if @range == "ユーザー" %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
        <%= render 'admin/users/index', users: @search_user %>
      <% else %>
        <%= render 'admin/plans/index', plans: @search_plan %>
      <% end %>
    </div>
  </div>
</div>
