<%= form_with model: [spot,spot_comment], local: false do |f| %>
   <div><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに(140文字以内)", class: 'form-control',size: "10x5" %></div>
   <div class="area_space"><%= f.submit "送信する", class: "button" %></div>
<% end %>