<%= form_with model: [plan,plan_comment], local: false do |f| %>
   <td><%= f.text_area :comment, rows: '5', placeholder: "コメントをここに(140文字以内)", class: 'form-control',size: "10x5" %></td>
   <td><%= f.submit "送信する" %></td>
<% end %>