/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .button {
  display       : inline-block;
  font-size     : 14pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 10px 13px;
  background    : #000000;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 2px 2px 4px #666666;
  border        : 2px solid #000000;
}
.button:hover {
  box-shadow    : none;
  color         : #000000;
  background    : #ffffff;
}

.user-icon{
  border-radius: 50%;
}

.plan_form {
  margin-bottom: 10px
}

.area{
  border-bottom:solid
#cccccc 2px;
}

.area_space{
  margin: 20px 0;
}

.space{
  margin-left: 20px
}

.edit_btn{
  margin-top: 20px
}

.introduction {
  width: 250px;
  word-break: break-word;
  margin-left: 20px
}

.attention{
  width: 350px
}

ul {
  list-style: none;
}

.tab input{
  display:none;
}
.plans div{
  display:none;
}

.tab input:nth-of-type(1):checked ~ .plans div:nth-child(1),
.tab input:nth-of-type(2):checked ~ .plans div:nth-child(2){
  display:block;
}

.tab label{
  margin:3em .2em;
  padding:.7em 8em;
  border: 3px solid #FFCC00;
  border-radius:5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.01);
  color:#555;
}

.tab label:hover{/*ホバー*/
  background-color: #FFFF00;
  transform:scale(1.1);
  opacity:.7;
}


.searchimage{
  margin-bottom: 1px
}

.box_space{
  margin: 5px 0;
}

.toukou_form{
  margin: 2px 2px;
  border: 1px solid #FFFFFF;
  background-color: #00CCFF;
  border-radius : 5%;
}

.midasi{
  display: flex;
  background-image: url("top_img.jpg");
  background-position:center top;
  background-size:cover;
  text-align:  center;
  vertical-align: middle;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  width:100%;
  height:700px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.midasi_text{
  border:  solid 2px;
  display:  inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0);
}

.midasi_login{
  border:  solid 2px;
  border-color: #00BFFF;
  display:  inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0);
}

.midasi_signup{
  border:  solid 2px;
  border-color: #00EE00;
  display:  inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0);
}

.welcome{
  margin-bottom: 5px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.edit_profile{
  margin: 5px 0;
}

.images{
  padding: 10px 0;
}

.spot{
  padding-top: 10px;
}

.spotname{
  padding-top: 10px;
}

.repoint {
    display: flex;
  }

.headerpoint {
    display: flex;
    align-items: flex-end;
  }

.item {
    display: flex;
    align-items: center;
  }
.spot_images{
  display: flex;
}


@media screen and (max-width:576px) {
  .repoint {
    display: block;
  }
  .headerpoint {
    display: block;
    margin:auto;

  }
  .item {
    display: block;
  }
}