/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .button {
  display       : inline-block;
  font-size     : 14pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 10px 13px;
  background    : #000000;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 2px 2px 4px #666666;
  border        : 2px solid #000000;
}
.button:hover {
  box-shadow    : none;
  color         : #000000;
  background    : #ffffff;
}

.user-icon{
  border-radius: 50%;
}

.plan_form {
  margin-bottom: 10px
}

.area{
  border-bottom:solid
#cccccc 2px;
}

.area_space{
  margin: 20px 0;
}

.space{
  margin-left: 20px
}

.edit_btn{
  margin-top: 20px
}

p {
  width: 200px;
  word-break: break-word;
  margin-left: 20px
}

.attention{
  width: 350px
}

ul {
  list-style: none;
}