<header>
<% if admin_signed_in? %>

    <li class="list-inline-item">
    <%= link_to destroy_admin_session_path, method: :delete do %>
    <p class="text-white">
      ログアウト
    </p>
    <% end %>

<% elsif user_signed_in? %>
   <li class="list-inline-item">
    <%= link_to destroy_user_session_path, method: :delete do %>
    <p class="text-white">
      ログアウト
    </p>
    <% end %>
    </li>
  </ul>
</div>
</div>
<% else %>
   <li class="list-inline-item">
    <%= link_to new_user_registration_path do %>
    <p class="text-white">
      新規登録
    </p>
    <% end %>
    </li>

    <li class="list-inline-item">
    <%= link_to new_user_session_path do %>
    <p class="text-white">
      ログイン
    </p>
    <% end %>
    </li>
  </ul>
<% end %>
</header>